@charset "UTF-8";

/* ---- CONFIG GERAL ---- */

* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

/* ---- MAIN ---- */

body {
    background-color: #E0E8FF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  20px auto;
    
}

img {
    border-radius: 15px 15px 0 0;
}

.fields {
    background-color: white;
    width: 450px;
    padding: 1.5rem 2rem;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.123);
}

h2 {
    margin-bottom: 1.5rem;
}

.p-fields {
    width: 300px;
    margin: auto;
    margin-bottom: 2rem;
    line-height: 24px;
    color: #7280A7;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #F5F7FF;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.conteiner-box {
    display: flex;
    flex-direction: column;
}

.p-box {
    font-weight: bold;
}

.p-box-light {
    color: #7280A7; 
}

.a-conteiner {
    color: #3829E0;
}

button[type="submit"]{
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #3829E0;
    font-weight: 900;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.a-fields {
    font-weight: 900;
    color: #7280A7; 
    text-decoration: none;
}

@media (max-width: 430px) {
    img {
        width: 280px;
    }

    .fields {
        width: 280px;
    }

    .p-fields {
        width: 240px;
    }
}   